In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
food = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')
food

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
food.shape

(60943, 12)

In [6]:
food['Y2015'].mean()

135.23596649549236

In [7]:
food['Y2015'].std()

1603.4039839423301

In [8]:
food['Y2016'].isnull().sum()

1535

In [9]:
food.corr().max()

Area Code       1.0
Item Code       1.0
Element Code    1.0
Y2014           1.0
Y2015           1.0
Y2016           1.0
Y2017           1.0
Y2018           1.0
dtype: float64

In [10]:
food['Y2018'].sum()

8554629.96

In [11]:
food['Area'].nunique()

49

In [12]:
food.groupby(['Item']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [14]:
food.groupby(['Element']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [16]:
#pd.set_option('display.max_rows', food.shape[0] + 1)
food.groupby(['Area', 'Element']).sum()

                                                 Area Code  Item Code  \
Area     Element
Algeria  Domestic supply quantity                      464     311204
         Export Quantity                               392     264011
         Fat supply quantity (g/capita/day)            432     291489
         Feed                                           88      58967
         Food                                          420     282744
...                                                    ...        ...
Zimbabwe Protein supply quantity (g/capita/day)      20453     304589
         Residuals                                   18824     277476
         Seed                                         3439      50560
         Stock Variation                             17195     254157
         Total Population - Both sexes                 181       2501

                                                 Element Code     Y2014  \
Area     Element
Algeria  Domestic supply quantity                      614916  83755.94
         Export Quantity                               579278   1328.64
         Fat supply quantity (g/capita/day)             73872    320.19
         Feed                                          121462   9656.04
         Food                                          539910  60582.69
...                                                       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)         76162    184.23
         Residuals                                     537680   -252.00
         Seed                                          105013    144.00
         Stock Variation                               481840   -644.00
         Total Population - Both sexes                    511  13587.00

                                                    Y2015     Y2016     Y2017  \
Area     Element
Algeria  Domestic supply quantity                85972.86  87157.61  86810.42
         Export Quantity                          1104.62   1340.22   1494.54
         Fat supply quantity (g/capita/day)        317.40    309.54    320.74
         Feed                                    10308.00   9903.00   9571.00
         Food                                    61693.49  63081.43  62785.33
...                                                   ...       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)    175.31    172.72    175.31
         Residuals                                -780.00   -882.00  -1083.00
         Seed                                      128.00    127.00    162.00
         Stock Variation                          -343.00    221.00    458.00
         Total Population - Both sexes           13815.00  14030.00  14237.00

                                                    Y2018
Area     Element
Algeria  Domestic supply quantity                90023.42
         Export Quantity                           811.54
         Fat supply quantity (g/capita/day)        309.09
         Feed                                    10668.00
         Food                                    63736.33
...                                                   ...
Zimbabwe Protein supply quantity (g/capita/day)    176.57
         Residuals                                -546.00
         Seed                                      140.00
         Stock Variation                          -447.00
         Total Population - Both sexes           14439.00

[803 rows x 8 columns]

In [17]:
food.groupby(['Element Code']).max()

,Area Code,Area,Item Code,Item,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,,,,,
511,276,Zimbabwe,2501,Population,Total Population - Both sexes,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
645,276,Zimbabwe,2961,Yams,Food supply quantity (kg/capita/yr),kg,428.27,418.21,419.48,433.38,443.56
664,276,Zimbabwe,2961,Yams,Food supply (kcal/capita/day),kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
674,276,Zimbabwe,2961,Yams,Protein supply quantity (g/capita/day),g/capita/day,100.34,100.33,100.94,100.10,101.08
684,276,Zimbabwe,2961,Yams,Fat supply quantity (g/capita/day),g/capita/day,93.73,96.79,94.33,97.13,94.94
5072,276,Zimbabwe,2961,Yams,Stock Variation,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
5123,276,Zimbabwe,2949,Yams,Losses,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
5131,276,Zimbabwe,2948,Wine,Processing,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
5142,276,Zimbabwe,2961,Yams,Food,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
5154,276,Zimbabwe,2961,Yams,Other uses (non-food),1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
5170,276,Zimbabwe,2949,Yams,Residuals,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
5171,193,Sao Tome and Principe,2949,Yams,Tourist consumption,1000 tonnes,62.00,48.00,6.00,6.00,6.00
5301,276,Zimbabwe,2961,Yams,Domestic supply quantity,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
5511,276,Zimbabwe,2961,Yams,Production,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
5521,276,Zimbabwe,2960,Yams,Feed,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
5527,276,Zimbabwe,2960,Yams,Seed,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
5611,276,Zimbabwe,2961,Yams,Import Quantity,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
5911,276,Zimbabwe,2961,Yams,Export Quantity,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00